@import 'mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* COMPANY PAGE */

.container {
  width: 100%;
}
.card_header_new {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  height: 100%;
  width: 100%;
}

.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.time {
  font-weight: bold;
  font-size: 15px;
}
.timeButton {
  border: 1px solid lightgray;
  width: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}
// .paddingTop{
//   padding-top: 35px;
// }
.button_viewProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.rating_div {
  display: flex;
}
.detail_text {
  width: 55%;
  display: flex;
  padding-top: 10px;
}
.address {
  display: flex;
}
.img_doctor {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 151px !important;
  height: auto;
  padding-left: 50px;
}
.logoPlaceholder {
  padding-right: 10px;
}
.div_paddingTop {
  padding-top: 13px;
  padding-bottom: 5px;
}
.newClass {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
