@import 'mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* COMPANY PAGE */

.container {
  width: 100%;
}
.card_header_new {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  height: 100%;
  width: 100%;
}
.dashboardlbl{
 font-size: 25px; 
}
.part1{
  // height: 150px;
  padding : 10px;
  padding-top: 0px !important;
  height: 100%;
  border-right:1px solid black ;
}
.part{
  // height: 150px;
  padding : 10px;
  padding-top: 0px !important;
  // height: 100%;
  // border-right:1px solid black ;
}
.number{
  font-size: 18px;
  font-weight: bold;
}