@import 'mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* COMPANY PAGE */

.container {
  width: 100%;
}
.card_header_new {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: left !important;
  height: 100%;
  width: 100%;
}
.address {
  display: flex;
}
.blueBtn {
  min-width: 100px !important;
  border-radius: 5px !important;
  background-image: linear-gradient(to right, #567cd8 0%, #5987f7 51%, #4573e4 100%);
  color: white !important; padding: 9px 15px;
}
.cancleBtn {
  min-width: 100px !important; padding: 9px 15px;
  border-radius: 5px !important;
}
.avtarDiv {
  position: relative;
  img {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 0%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.editIconDiv {
  position: absolute;
  bottom: 7px;
  right: -3px;
  background-color: #595c97;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon_pen {
  font-size: 15px;
  color: white;
  padding-left: 3px;
  padding-bottom: 8px;
  position: absolute;
  padding-top: 8px;
}
.uploadBtn {
  position: absolute;
  display: flex;
}
