/* eslint-disable */
@import 'mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* COMPANY PAGE */

.container {
  width: 100%;
}

.card_header_new {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  height: 100%;
  width: 100%;
}

.address {
  display: flex;
}

.blueBtn {
  width: 200px !important;
  border-radius: 5px !important;
  background-image: linear-gradient(to right, #567cd8 0%, #5987f7 51%, #4573e4 100%);
  color: white !important;
}

.cancleBtn {
  width: 200px !important;
  border-radius: 5px !important;
}

.avtarDiv {
  position: relative;

  img {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.editIconDiv {
  position: absolute;
  bottom: 7px;
  right: -3px;
  background-color: #4e4e4e;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editIconDiv:hover {
  background-color: #4573e4;
  cursor: pointer;
}

.icon_pen {
  font-size: 15px;
  color: white;
  padding-left: 3px;
  padding-bottom: 8px;
  position: absolute;
  padding-top: 8px;
}

.uploadBtn {
  position: absolute;
  display: flex;
}

.inputFile {
  padding: 1px !important;
  opacity: 0 !important;
  margin-top: 10px;
  z-index: 99;
}
