@import 'mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* COMPANY PAGE */

.container {
  width: 100%;
}
.card_header_new {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  height: 100%;
  width: 100%;
}

.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.time{
  font-weight: bold;
  font-size: 15px;
}
.timeButton{
  border: 1px solid lightgray;
  width: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}
.paddingTop{
  padding-top: 35px;
}
.arrow_down{
  // padding-left: 15px;
}
.div_pad{
  width: 100%;
  padding: 25px;
  padding-top: 10px !important;
  padding-bottom: 50px !important;
}
.cart_container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.cart_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.newClass{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.img_doctor{
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 180px !important;
  width: 180px !important;
  height: auto;
  padding-left: 10px;
}
.logoPlaceholder{
  padding-right: 10px;
}
.name{
  padding-left: 30px;
}
.button_viewProfile{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 150px;
  padding-right: 15px;
}

