/* .ct-chart .ct-bar:nth-of-type(4n+1) {
    stroke: #71A28A;
  }
  
  .ct-chart .ct-bar:nth-of-type(4n+2) {
    stroke: #FF6414;
  }
  
  .ct-chart .ct-bar:nth-of-type(4n+3) {
    stroke: #EFB200;
  }
  
  .ct-chart .ct-bar:nth-of-type(4n+4) {
    stroke: #91A453;
  }
  .ct-chart .ct-bar:nth-of-type(4n+5) {
    stroke: #5b69fe;
  }
  .ct-chart .ct-bar:nth-of-type(4n+6) {
    stroke: #ff17c5;
  }
  .ct-chart .ct-bar:nth-of-type(4n+7) {
    stroke: #00ffbb;
  } */

/* .ct-bar{
	stroke-width: 20px;
} */

.ct-bar:nth-child(1){
	stroke: #379683 !important;
}

.ct-bar:nth-child(2){
	stroke: #91A453 !important;
}

.ct-bar:nth-child(3){
	stroke: #bae48f !important;
}
.ct-bar:nth-child(4){
	stroke:  #91A453 !important;
}
.ct-bar:nth-child(5){
	stroke: #71A28A !important;
}