@import 'mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* COMPANY PAGE */

.container {
  width: 100%;
}
.card_header_new {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  height: 100%;
  width: 100%;
}
.blueBtn {
  width: 200px !important;
  border-radius: 5px !important;
  background-image: linear-gradient(to right, #567cd8 0%, #5987f7 51%, #4573e4 100%);
  color: white !important;
  height: 45px;
}
.cancleBtn {
  width: 200px !important;
  border-radius: 5px !important;
  height: 45px !important;
}
